<h1>Posts</h1>

<% if current_user %>
  <%= render 'form' %>
<% end %>

<% if @posts.any? %>
  <ul id="posts">
    <% @posts.each do |post| %>
      <%= render post %>
    <% end %>
  </ul>
<% else %>
  <h3> No posts yet! </h3>
<% end %>
