<h1>Posts</h1>

<% if current_user %>
  <%= render 'form' %>
<% end %>

<h3>All Tweets</h3>

<% if @posts.any? %>
  <ul id="posts", class="list-unstyled">
    <div class="well">
      <% @posts.each do |post| %>
        <%= render post %>
      <% end %>
    </div>
  </ul>
<% else %>
  <h3> No posts yet! </h3>
<% end %>
