<h1>Sea Foam Green</h1>

<% if current_user %>
  <%= render 'form' %>
<% end %>

<h3>All Tweets</h3>

<ul id="posts", class="list-unstyled">
  <% @posts.each do |post| %>
      <%= render post %>
  <% end %>
</ul>
